.task {
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--ant-color-border-secondary);
    border-radius: 0px;
  }
}

.progress {
  margin-block: 12px;
}
