.name {
  & p {
    font-weight: normal;
    margin: 0;
    font-size: 24px;
  }

  & span {
    color: var(--mf-app-text-color);
  }
}

.group {
  padding-block-end: 12px;
  margin-block-end: 24px;
  border-bottom: 1px solid var(--ant-color-border-secondary);

  &:nth-last-of-type(1) {
    margin: 0;
  }
}
