.courses {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 48px;
}

.tabs {
  display: flex;
  height: 52px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  overflow-x: auto;
  gap: 16px;
  flex-shrink: 0;
  padding: 4px;
  padding-top: 0;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--ant-color-border-secondary);
    border-radius: 0px;
  }
}

.main {
  height: 100%;
}

.btn {
  width: 240px !important;
  height: 240px;
  border-radius: 50% !important;
  background: linear-gradient(135deg, #3ba5cf, #256adf) !important;

  & svg {
    width: 150px;
    height: 150px;
    stroke-width: 1px;
  }

  & svg[class='icon-machining'] {
    & path {
      fill: rgba(255, 255, 255, 0.85);
    }
  }
}

.machining {
  margin-top: 5px;
}
