.title {
  --ant-color-text-heading: var(--mf-app-text-color);
  font-size: 18px !important;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-inline-start: 14px;
  margin-bottom: 24px;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 3px;
    width: 4px;
    height: 24px;
    background-color: var(--mf-app-text-color);
    box-shadow: 0px 0px 5px 1px var(--mf-app-text-color);
  }
}
